:root{
    --clr-white:hsl(0, 100%, 100%);
    --clr-grey-500:hsl(0, 0%, 63%);
    --clr-grey-800: hsl(0, 0%, 27%);
    --clr-Black: hsl(0, 0%, 0%);

    --fs:16px;

    --ff:"League Spartan",sans-serif;

    --fw-500:500;
    --fw-600:600;
    --fw-700:700;

    --gap0:0rem;
    --gap1:1rem;
    --gap2:2rem;
}

body{
    font-family: var(--ff);
    font-size: var(--fs);
}