
// padding
.padding-large{
    padding: 3rem 1.5rem;
}
.padding-small{
    padding: 2rem 1rem;
}

// background color
.bg-white{
    background:var(--clr-white);
}
.bg-grey500{
    background: var(--clr-grey-500);
}
.bg-grey800{
    background: var(--clr-Grey-800);
}
.bg-black{
    background: var(--clr-Black);
}

// color
.color-white {
    color: var(--clr-white);
}

.color-grey500 {
    color: var(--clr-grey-500);
}

.color-grey800 {
    color: var(--clr-Grey-800);
}

.color-black {
    color: var(--clr-Black);
}

// font weights
.fw-500{
    font-weight: var(--fw-500);
}
.fw-600{
    font-weight: var(--fw-600);
}
.fw-700 {
    font-weight: var(--fw-700);
}

// font size
.fs1{
    font-size: 1rem;
}
.fs2 {
    font-size: 2rem;
}
.fs2h {
    font-size: 2.5rem;
}
.fs3 {
    font-size: 3rem;
}

// gap 
.gap0{
    gap: var(--gap0);
}
.gap1{
    gap: var(--gap1);
}
.gap2 {
    gap: var(--gap2);
}

// justify
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;

}