
@use '../utils/' as u;

.upperMain{
    @include u.breakpoint('large') {
        flex-direction: column;
    }
    @include u.breakpoint('small'){
        flex-direction: column;
    }

    .mainContent{
        justify-content: space-between;
        position: relative;

        .content{
            padding: 9rem 5rem;
            // margin-bottom: 1rem;
            // padding-bottom: 1rem;
        
            #text{
                padding: 1.6rem 0;
                color: var(--clr-grey-500);
                text-align:start;
                padding-right: 1.5rem;
                
            }
            h1 {
                font-size: 2rem;
            }

            button{
                background: transparent;
                border: none;
                font-weight: var(--fw-700);

                color: var(--clr-grey-600);
                text-transform:uppercase;
                letter-spacing: 1em;
                
            }

            @include u.breakpoint('large'){
                padding: 7rem 4rem 3rem 4rem; 
            }
            @include u.breakpoint('small'){
                padding: 3rem 2rem;
            }
        }

        .nav-buttons{
            position: absolute;
            bottom: 0;
            button{
                padding: 2rem;
                border: none;
                @include u.breakpoint('small'){
                    padding: 1rem;
                }

            }

            @include u.breakpoint('large'){
                top: 0;
                bottom: unset;
            }
            @include u.breakpoint('small'){
                top: -3.5rem;
                right: 0;
            }
        }



    }
}

