
@use '../utils/' as u;
.upperMain{
    @include u.breakpoint('medium'){
        flex-direction: column;
        height: fit-content;
    }
    
    display: flex;
    height: 70vh;
    .imageDiv{
        width: 55%;
        object-fit: contain;

        @include u.breakpoint('medium'){
            width: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            // object-fit: contain;
        }
    }
    .mainContent{
        @include u.breakpoint('medium') {
            width: 100%;
            position:relative;
        }
        @include u.breakpoint('large') {
            font-size: 0.7rem;
            padding: 1rem 2rem;
        }
        
        width: 45%;
        padding: 2em 3.8em;
        display: grid;
        // place-content: center;
        gap: 2rem;
        position: relative;
        
        .content{
           
            @include u.breakpoint('large') {
                width: 100%;
            }
            @include u.breakpoint('medium') {
                padding-left: 50%;
                // margin-left: 0;
            }
            @include u.breakpoint('small') {
                padding-left: 0%;
                width: 100%;
            }
            // width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: baseline;

            #title{
                font-size: 1.8rem;
                width: 20ch;

                @include u.breakpoint('large') {
                    font-size: 1rem;
                }
                @include u.breakpoint('medium') {
                    width: fit-content;
                    text-align: start;
                }
            }
            #text{
                // padding-top: 1rem;
                // min-height: 120px;
                max-width: 45ch;
                color: var(--clr-grey-500);
                // @include u.breakpoint('medium'){
                //     max-width: fit-content;
                // }
                @include u.breakpoint('large') {
                    font-size: 0.7rem;
                }
            }
            button{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;

                color: var(--clr-grey-500);
                fill: var(--clr-grey-500);
                letter-spacing: 0.6rem;
                text-transform: uppercase;

                @include u.breakpoint('large'){
                    letter-spacing: 0.2rem;
                }

                &:hover{
                    color: var(--clr-grey-600);
                    fill: var(--clr-grey-600);
                }
            }
        }

        .nav-buttons{
            position: absolute;
            bottom: 0;
            @include u.breakpoint('medium'){
                right: 0;
                bottom: +100%;
            }
            button{
                padding: 1rem 2rem;
                border: none;
                outline: none;
                @include u.breakpoint('large') {
                    padding: 0.8rem 1rem;
                }

                &:hover{
                    background-color: var(--clr-grey-500);
                }
            }
        }
    }
}